{
  "version": 1.0,
  "project": "0404-MFCx-config-as-code-${repo}-${branch}",
  "sast": {
    "preset": "High and Medium",
    "engineConfiguration": "",
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
"additionalProperties": {
    "cxFlow": {
      "application": "MF:jvl-demo_test-app",
      "branches": ["master"]
    }
  }  
}
